CompileFlags:
  Remove:
    - -mpreferred-stack-boundary=*
    - -mindirect-branch=*
    - -mindirect-branch-register
    - -mindirect-branch-cs-prefix
    - -mfunction-return=*
    - -fno-allow-store-data-races
    - -fzero-call-used-regs=*
    - -fconserve-stack
    - -fsanitize=bounds-strict
    - -mrecord-mcount
    - -ftrivial-auto-var-init=zero
